<div class = "header">
  <div class = "title">{{title}}</div>
  <div class = "userName">{{name}}</div>
</div>
<div class = "body">
  <div class = "signUpContainer">
      <form class="pure-form pure-form-stacked" ng-submit="snipItFunc()">
        <input class="button-large pure-button pure-button-primary snipIt" type="submit" value="{{snipIt}}">
      </form>
      <form class="pure-form pure-form-stacked" ng-submit="showHistoryFunc()">
        <input class="button-large pure-button pure-button-primary showHistory" type="submit" value="{{showHistory}}">
      </form>
      <form class="pure-form pure-form-stacked" ng-submit="searchImagesFunc()">
        <input class="button-large pure-button pure-button-primary searchImages" type="submit" value="{{searchImages}}">
      </form>
  </div>
</div>
