<div class = "header">
  <div class = "title">{{title}}</div>
  <div class = "userName">{{userName}}</div>
</div>
<div class = "body">
  <div class = "inputContainer">
    <form ng-submit="addTag()">
      <input class = "tagInput" placeHolder = "{{enterTags}}" ng-model = "enteredTag"/>
    </form>
  </div>
  <div class = "userImageContainer">
    <a download="abc.jpg" ng-href = {{imageSrc}} >
      <img class = "currImage" ng-src = {{imageSrc}} />
      <div class = "downloadDiv"></div>
    </a>
    <div class = "bottomContainer">
      <div class = "bottomContainerHeader">TAGS:</div>
      <div class = "tags" ng-repeat="x in tagList track by $index">
        <div class = "tagText">{{x}}</div><div class = "close" ng-click = "deleteThis(this)">x</div>
      </div>
    </div>

  </div>
</div>
