<div class = "header">
  <div class = "title">{{title}}</div>
  <div class = "userName">{{$scope.userName}}</div>
</div>
<div class = "body">
  <div class = "signUpContainer">
    <form  novalidate class=" css-form pure-form pure-form-stacked" ng-submit="getInFunc()">
      <input type="text" ng-model="userName" class = "userNameInput" placeholder="{{placeHolderName}}"/>
      <input type="email" ng-model="email" required email class = "userNameInput" placeholder="{{placeHolderEmail}}"/>
      <input type="password" ng-model="userPass" required minlength = "4" class = "userNameInput" placeholder="{{placeHolderPass}}"/>
      <input type="text" ng-model="age" required class = "userAgeInput" placeholder="{{placeHolderAge}}"/>
      <select name="mySelect" id="role"
      ng-options="option.name for option in data.availableOptions track by option.id"
      ng-model="data.selectedOption"></select>
      <div style="margin: 0 auto;width: 70px;">
        <label for="remember" class="pure-checkbox sex">
            Male <input id="option-one" type="radio" name="optionsRadios" value="option1" checked>
        </label>
        <label for="remember" class="pure-checkbox sex">
            Female <input id="option-two" type="radio" name="optionsRadios" value="option1">
        </label>
      </div>
      <input class="button-large pure-button pure-button-primary userNameSubmit" type="submit" value="{{getIn}}">
    </form>
  </div>
</div>
